body {
    background-image: url("../images/niceTry_background.jpg");
    background-repeat: no-repeat;
    margin: 0;
}
#board-canvas {
    background-image: url("../images/niceTry_Board.jpg");
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 10px 15px 30px black;
}