svg {
    background-image: url("../Images/wood_background_BlackNWhite_1920x1080.jpg");
    border: 3px black solid;
}

svg text {
    font-size: 40px;
    font-family: fantasy;
}

svg .button:hover {
    font-size: 70px;
    stroke: black;
    stroke-width: 3px;
    transform: translateY(-50%) translateX(-50%) scale(1);
    cursor:pointer;
}
#textPlay{
    transform: translateY(-50%) translateX(-50%) scale(1);
    stroke-width:1;
    fill:blue;
    stroke:black;
}

#textHelp{
    fill:blue;
    stroke:black;
    stroke-width: 1px;
}

#textExit{
    fill:blue;
    stroke:black;
    stroke-width: 1px;
}

.textGoodBye{
    font-size: 80px;
    stroke:black;
    stroke-width: 2;
}