/*#kinetic-container {
    border: 1px solid black;
    width: 800px;
    height: 600px;
}*/

#dices {
    position: fixed;
    left: 960px;
    top: 280px;
    display: none;
    border: none;
}

#pair {
    position: fixed;
    display: none;
    border: none;
}

#dice4 {
    position: fixed;
    left: 1106px;
    top: 280px;
}

#dice3 {
    position: fixed;
    left: 885px;
    top: 280px;
}

#dice1, #dice2, #dice3, #dice4 {
    -moz-box-shadow:    10px 10px 5px black;
    -webkit-box-shadow: 10px 10px 5px black;
    box-shadow:         10px 10px 5px black;
    border-radius: 10px;
    border: none;
    margin-right: 2px;
    padding: 0;
    height: 64px;
    width: 64px;
}

body, div {
    margin:0;
    padding:0;
}

body {
    background-color: dimgray;
}

