body {
    background-image: url("../images/niceTry_background.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 10px;
}
#board-canvas {
    background-image: url("../images/niceTry_Board.jpg");
    box-shadow: 10px 15px 30px black;
    float: left;
}